@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg-color: #e5e7eb;
  --card-text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a202c;
    --text-color: #ffffff;
    --card-bg-color: #2d3748;
    --card-text-color: #ffffff;
  }
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  height: 100vh;
  overflow: hidden;

  font-family: 'Helvetica Neue', sans-serif;

  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.card {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
}


/* 
.nav {
  background-color: var(--bg-color);
  color: var(--text-color);
} */





/* Spinner */

.spinner {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}